<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header"  >
        <h1>
            setor
            <small>Nova setor</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="<?php echo base_url(); ?>"><i class="fa fa-dashboard"></i> Dasboard</a></li>
            <li class="active"><?php if ($this->uri->segment(1) != null) { ?><a href="<?php echo base_url() . 'index.php/' . $this->uri->segment(1) ?>" class="tip-bottom" title="<?php echo ucfirst($this->uri->segment(1)); ?>"> <?php echo ucfirst($this->uri->segment(1)); ?></a><?php }; ?>  </li>
        </ol>
    </section>





    <section class="content">
    <?php
        get_msg('salvo');
        ?>
        <!-- Default box -->
        <div class="">
            <div class="">

            <div class="accordion-group widget-box">
                    <div class="accordion-heading">
                        <div class="widget-title "> <span class="icon text-right"><i class="icon-list"></i></span>
                                <h5>Novo Setor</h5>
                            </a> </div>
                    </div>
                    <div class="accordion-body in collapse" id="collapseGOne" style="height: auto;">
                        <div class="widget-content">
                        <div class="box-body">
               
            </div>
            <div class="box-body">
                <!--aqui vem a tabela que vai vir do banco de dados -->

                <div class="row">
                    <!-- left column -->
                    <div class="col-lg-12">

                        <!-- /.box-header -->
                        <!-- form start -->
                        <form role="form" method="post" id="form_funcionario" action="<?php echo base_url() . 'index.php/setor/save'; ?>">
                            <div class="box-body">

                            <div class="form-group">
                                <label>Secretaria</label>
                                <select class="form-control      select2" name="id_secretaria" style="width: 100%;">
                                <option selected="selected">selecione</option>
                               <?php if ($secretaria) {
                                        foreach ($secretaria as $secretarias) { ?>
                                <option value="<?php echo $secretarias->id_secretaria; ?>" ><?php echo $secretarias->nm_secretaria; ?></option>
                                <?php }}?>
                                </select>
                                        
                            </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Nome</label>

                                    <input type="text" class="form-control     " id="txtnome" name="nome" value="<?php echo set_value('nome'); ?>" >
                                    <?php echo form_error('nome', '<div class="text-danger">', '</div>'); ?>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Responsável Setor</label>

                                    <input type="text" class="form-control     " id="txtnome" name="responsavel" value="<?php echo set_value('responsavel'); ?>" >
                                    <?php echo form_error('responsavel', '<div class="text-danger">', '</div>'); ?>
                                </div>
                                   
                                

                                <!-- /.box-body -->

                                <div class="box-footer text-right">
                                    <button type="submit" class="btn btn-primary "><i class="fa fa-check"></i> Adicionar</button>
                                </div>
                        </form>
                    </div>

                </div>


                </section>


                                        </div>
              

            <!-- /.content-wrapper -->




            <!--modal nova marca -->

                                        