
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header" >
      <h1>
        setor
        <small>Gerenciar setors</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dasboard</a></li>
        <li class="active">setor</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
    <?php
        get_msg('salvo');
        ?>
          <div class="row">
        <div class="col-xs-12">
          <div class="">
            <div class="">
            <a href="<?php echo base_url();?>index.php/setor/novo" class="btn btn-primary  "><i class="fa fa-plus-circle"></i> Adicionar Setor</a>
              
            </div>
            <!--AQUI VAI ADIÇÃO FILTROS DE BUSCA -->  
          
            <div class="accordion-group widget-box">
                    <div class="accordion-heading">
                        <div class="widget-title "> <a data-parent="#collapse-group" href="#collapseGOne" data-toggle="collapse"> <span class="icon text-right"><i class="icon-list"></i></span>
                                <h5>Busca Avançada</h5>
                            </a> </div>
                    </div>
                    <div class="accordion-body <?php if($filtro){echo 'in';}else{echo '';} ?>  collapse" id="collapseGOne" style="height: auto;">
                        <div class="widget-content">
                        <div class="box-body">

            <div class="row">
                <form action="" method="get">
                   <div class="col-md-3">
                   <div class="form-group">
                                    <label>Secretaria</label>
                                    <select class="form-control select2" id="os_id_secretaria" name="id_secretaria" onchange="os_busca_setor($(this).val())" style="width: 100%;">
                                    <option ></option>
                                    <?php if($this->session->userdata('secretaria')){
                                        echo $this->session->userdata('secretaria');
                                        foreach ($this->session->userdata('secretaria') as $secretarias) {?>
                                         <option value="<?php echo $secretarias->id_secretaria; ?>" ><?php echo $secretarias->nm_secretaria; ?></option>
                                           
                                      <?php  }} ?>

                                    } ?>
                                    <?php if ($secretaria) {
                                        foreach ($secretaria as $secretarias) { ?>
                                    <option value="<?php echo $secretarias->id_secretaria; ?>" ><?php echo $secretarias->nm_secretaria; ?></option>
                                    <?php 
                                }
                            } ?>
                                     </select>
                                        
                              </div>   
                              
                  </div>  
                  <div class="col-md-3">
                  <div class="form-group">
                                <label>Setor</label>
                                <select class="form-control select2" id="os_id_setor"  name="nm_setor"  style="width: 100%;">
                                <option></option>
                               
                                </select>
                                        
                            </div> 
                </div>
                
               
                <!--aquiv vai mais um o nome p/ busca -->
                <div class="col-md-3">
                  <div class="form-group">
                                <label>Responsável Setor</label>
                                <input type="text" class="form-control select2"   name="nm_responsavel"  style="width: 100%;">       
                            </div> 
                </div>
                
                <div class="col-md-3">
                  <div class="form-group">
                                <label><br> </label>
                                <input type="submit" class="form-control select2 btn  <?php if($filtro){echo 'btn bg-purple';}else{echo 'btn btn-primary';} ?>" id="os_busca_nome"   name="buscar" value="<?php if($filtro){echo 'Desativar Filtro';}else{echo 'Ativar Filtro';} ?>" style="width: 100%;"> 
                            </div> 
                </div>
                
                
                
                </form>
                   </div>
                        </div>
                        </div>
                    </div>
            </div>

            <!--FINAL FILTROS DE BUSCA -->  
            <!-- /.box-header -->
             <!-- /.box-header -->
             <div class="widget-box">
                        <div class="widget-title"> <span class="icon"> <i class="fa fa-key"></i> </span>
                            <h5>Setor</h5>
                        </div>
                        <div class="widget-content nopadding">
                            <table class="table table-bordered ">
                                
                                <thead>
                                    <tr style="backgroud-color: #2D335B">
                  <th>#id</th>
                  <th>setor</th>
                  <th>responsável setor</th>
                  <th>secretaria</th>
                  <th class="text-center">Ações</th>
                </tr>
                </thead>
                <tbody style="text-align: center;">
                <tr>
                
                <?php if($setor){ foreach ($setor as $setors) { ?>
                  <td><?php echo $setors->id_setor;?></td>
                  <td><?php echo $setors->nm_setor;?></td>
                  <td><?php echo $setors->nm_responsavel;?></td>
                  <td><?php echo $setors->nm_secretaria;?></td>
                  <td class="text-center"> <div class="btn-group-horiontal">
                      <a  data-toggle="modal" data-target="#ver_<?php echo $setors->id_setor; ?>" title="visualizar" class="btn btn-flat btn-default"><i class="fa fa-eye"></i></a>
                      <a href="<?php echo base_url(); ?>index.php/setor/edit/<?php echo encript($setors->id_setor); ?>"  title="editar" class="btn btn-flat btn-info"><i class="fa fa-edit"></i></a>
                      <a data-toggle="modal" data-target="#modal-excluir_<?php echo $setors->id_setor; ?>" title="excluir"  class="btn btn-flat btn-danger"><i class="fa fa-trash"></i></a>
                    </div></td>
                </tr>
                <?php } }else{?>    
                
                <td colspan="4"><center>Nenhum setor cadastrado</center> </td>
                </tr>
                <?php } ?>
                </tbody>
                
              </table>
                <!-- /.box-body -->
                <div class="box-footer">
                <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">  
                  <ul class="pagination">
                  <?php if(isset($pag) && !empty($pag)){foreach ($pag as $key => $value) {
                      echo " {$value} ";
                  }}; ?>
                  </ul>
                  </div>
                        </div>
                        <!-- /.box-footer-->
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->


    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->








<!--modal visualizar detalhes -->


<!-- Button trigger modal -->


<!-- Modal -->
<?php
if ($setor) {
    foreach ($setor as $setors) {
        ?>
        <div class="modal fade" id="ver_<?php echo $setors->id_setor; ?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-bold text-info" id="myModalLabel">ERPOS  </h4>
                        
                    </div>
                    <div class="modal-body">
                   
                        <div class="text-info"> <b>Id:</b> <?php echo $setors->id_setor; ?><br>
                            <b>Setor: </b><?php echo $setors->nm_setor; ?>
                            <br> 
                            <b>Responsável: </b><?php echo $setors->nm_responsavel; ?>
                            <br>
                            <b>Secretaria: </b><?php echo $setors->nm_secretaria; ?>
                            <br>
                            <b>Secretário: </b><?php echo $setors->nm_secretario; ?>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default align-right" data-dismiss="modal"><i class="fa fa-close"></i> Fechar</button>

                    </div>
                </div>
            </div>
        </div>

        <?php
    }
}
?>  



<?php
if ($setor) {
    foreach ($setor as $setors) {
        ?>
        <form action="<?php echo base_url() ?>index.php/setor/delete/<?php echo encript($setors->id_setor); ?>" method="get" >
        <div class="modal fade" id="modal-excluir_<?php echo $setors->id_setor; ?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-bold text-info" id="myModalLabel">ERPOS  </h4>
                        
                    </div>
                    <div class="modal-body">
                   
                        <div class="text-bold ">
                        <h4><center> Deseja realmente apagar esse registro?</center></h4>
         <br> 
                        </div>


                    </div>
                    <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                    <input type="submit" class="btn btn-danger" value="Excluir">

                    </div>
                </div>
            </div>
        </div>
        </form>    
        <?php
    }
}
?>  