
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header"  >
      <h1>
        Equipe Técnica 
        <small>Gerenciar equipe</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dasboard</a></li>
        <li class="active">tecnico</li>
      </ol>
    </section>
<hr>
    <!-- Main content -->
    <section class="content container-fluid">
    <?php
        get_msg('salvo');
        ?>
          <div class="row">
        <div class="col-xs-12">
          <div class="">
            <div class="">
            <a href="<?php echo base_url();?>index.php/tecnico/novo" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Adicionar Técnico</a>
              
            </div>
           <!--AQUI VAI ADIÇÃO FILTROS DE BUSCA -->  
          
           <div class="accordion-group widget-box">
                    <div class="accordion-heading">
                        <div class="widget-title "> <a data-parent="#collapse-group" href="#collapseGOne" data-toggle="collapse"> <span class="icon text-right"><i class="icon-list"></i></span>
                                <h5>Busca Avançada</h5>
                            </a> </div>
                    </div>
                    <div class="accordion-body <?php if($filtro){echo 'in';}else{echo '';} ?> collapse" id="collapseGOne" style="height: auto;">
                        <div class="widget-content">
                        <div class="box-body">

           <div class="row">
                <form action="" method="get">
                   
                  
               
                
               
                <div class="col-md-6">
                  <div class="form-group">
                                <label>Técnico</label>
                                <input type="text" class="form-control select2" id="os_busca_nome"   name="busca_nome"  style="width: 100%;">       
                            </div> 
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                                <label><br> </label>
                                <input type="submit" class="form-control select2 btn  <?php if($filtro){echo 'btn bg-purple';}else{echo 'btn btn-primary';} ?>" id="os_busca_nome"   name="buscar" value="<?php if($filtro){echo 'Desativar Filtro';}else{echo 'Ativar Filtro';} ?>" style="width: 100%;"> 
                            </div> 
                </div>
                
                
                
                </form>
                   </div>
                        </div>
                        </div>
                    </div>
           </div>
            <!--FINAL FILTROS DE BUSCA -->  
             <!-- /.box-header -->
             <div class="widget-box">
                        <div class="widget-title"> <span class="icon"> <i class="icon-wrench"></i> </span>
                            <h5>Técnico</h5>
                        </div>
                        <div class="widget-content nopadding">
                            <table class="table table-bordered ">
                                
                                <thead>
                                    <tr style="backgroud-color: #2D335B">
                  <th>#id</th> 
                  <th>Funcionário</th>
                  <th>Resp</th>
                  <th>Cargo</th>
                  <th>Secretaria</th>
                  <th>Setor</th>
                  <th>Ramal/Telefone</th>
                 
                  <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                <?php if($tecnico){ foreach ($tecnico as $tecnicos) { ?>
                  <?php if($tecnicos->id_tecnico<>'1'){ ?>
                  <td><?php echo $tecnicos->id_tecnico;?></td>
                  <td><?php echo $tecnicos->nm_funcionario;?></td>
                  <td><?php echo $tecnicos->n_resp;?></td>
                  <td><?php echo $tecnicos->nm_cargo;?></td>
                  <td><?php echo $tecnicos->nm_secretaria;?></td>
                  <td><?php echo $tecnicos->nm_setor;?></td>
                  <td><?php echo $tecnicos->n_ramal;?></td>
                  <td> <div class="btn-group-horiontal">
                      <a  data-toggle="modal" data-target="#ver_<?php echo $tecnicos->id_tecnico; ?>" title="visualizar" class="btn btn-flat btn-default"><i class="fa fa-eye"></i></a>
                      <a href="<?php echo base_url(); ?>index.php/tecnico/edit/<?php echo encript($tecnicos->fid_funcionario); ?>"  title="editar" class="btn btn-flat btn-info"><i class="fa fa-edit"></i></a>
                      <a data-toggle="modal" data-target="#modal-excluir_<?php echo $tecnicos->id_tecnico; ?>" title="excluir"  class="btn btn-flat btn-danger"><i class="fa fa-trash"></i></a>
                    </div></td>
                </tr>
                  <?php }else{?>
                    <td colspan="8"><center>Nenhum tecnico cadastrado</center> </td>
                </tr>
                  <?php } ?>
                <?php } }else{?>    
                
                <td colspan="8"><center>Nenhum tecnico cadastrado</center> </td>
                </tr>
                <?php } ?>
                </tbody>
                <tfoot>
                    <tr>
                  <td colspan="9" style="align:right">    
                  <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">  
                  <ul class="pagination">
                  <?php if(isset($pag) && !empty($pag)){foreach ($pag as $key => $value) {
                      echo " {$value} ";
                  }}; ?>
                  </ul>
                  </div>
                  </td>
                    </tr>
                   
                </tfoot>
              </table>
                <!-- /.box-body -->
                <div class="box-footer">

                        </div>
                        <!-- /.box-footer-->
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->


    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->








<!--modal visualizar detalhes -->


<!-- Button trigger modal -->


<!-- Modal-->
<?php
if ($tecnico) {
    foreach ($tecnico as $tecnicos) {
        ?>
        <div class="modal fade" id="ver_<?php echo $tecnicos->id_tecnico; ?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-bold text-info" id="myModalLabel">ERPOS  </h4>
                        
                    </div>
                    <div class="modal-body">
                   
                        <div class="text-info"> <b>Id:</b> <?php echo $tecnicos->id_tecnico; ?><br>
                            <b>Funcionário: </b><?php echo $tecnicos->nm_funcionario; ?>
                            <br> 
                            <b>Nº Resp: </b><?php echo $tecnicos->n_resp; ?>
                            <br> 
                            <b>E-mail: </b><?php echo $tecnicos->mail_funcionario; ?>
                            <br> 
                            <b>Cargo: </b><?php echo $tecnicos->nm_cargo; ?>
                            <br> 
                            <b>Nome de Usuário do Sistema: </b><?php echo $tecnicos->usuario; ?>
                            <br> 
                            <b>Secretaria: </b><?php echo $tecnicos->nm_secretaria; ?>
                            <br> 
                            <b>Setor: </b><?php echo $tecnicos->nm_setor; ?>
                            <br> 
                            <b>Local: </b><?php echo $tecnicos->nm_local; ?>
                            <br>
                            <b>Obs local de trabalho: </b><?php echo $tecnicos->obs_local; ?>
                            <br> 
                            <b>Responsável do Setor: </b><?php echo $tecnicos->nm_responsavel; ?>
                            <br> 
                            <b>Nº Ramal/Telefone: </b><?php echo $tecnicos->n_ramal; ?>
                            <br> 
                            <b>Status: </b><?php if($tecnicos->status){echo 'ativo';}else{echo 'inativo';} ?>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default align-right" data-dismiss="modal"><i class="fa fa-close"></i> Fechar</button>

                    </div>
                </div>
            </div>
        </div>

        <?php
    }
}
?>  



<?php
if ($tecnico) {
    foreach ($tecnico as $tecnicos) {
        ?>
        <form action="<?php echo base_url(); ?>index.php/tecnico/delete/<?php echo encript($tecnicos->id_tecnico);?>/<?php echo encript($tecnicos->fid_funcionario);?>/<?php echo encript($tecnicos->cid_local);?>" method="get" >
        <div class="modal fade" id="modal-excluir_<?php echo $tecnicos->id_tecnico; ?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-bold text-info" id="myModalLabel">ERPOS  </h4>
                        
                    </div>
                    <div class="modal-body">
                   
                        <div class="text-bold ">
                        <h4><center> Deseja realmente apagar esse registro?</center></h4>
         <br> 
                        </div>


                    </div>
                    <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                    <input type="submit" class="btn btn-danger" value="Excluir">

                    </div>
                </div>
            </div>
        </div>
        </form>    
        <?php
    }
}
?>  