<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <section class="content-header">
        <h1>
            Chamados
            <small> novo chamado</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="<?php echo base_url(); ?>"><i class="fa fa-dashboard"></i> Dasboard</a></li>
            <li class="active">
                <?php if ($this->uri->segment(1) != null) { ?>
                <a href="<?php echo base_url() . 'index.php/' . $this->uri->segment(1) ?>" class="tip-bottom" title="<?php echo ucfirst($this->uri->segment(1)); ?>">
                    <?php echo ucfirst($this->uri->segment(1)); ?>
                </a>
                <?php
                                                                                                                                                                                                                                                                                    }; ?>
            </li>
        </ol>
    </section>

    <hr>



    <section class="content">
        <?php
        get_msg('salvo');
        ?>
            <!-- Default box -->



            <!--AQUI VAI ADIÇÃO FILTROS DE BUSCA -->
            <div class="accordion-group widget-box">
                <div class="accordion-heading">
                    <div class="widget-title">
                        <a data-parent="#collapse-group" href="#collapseGOne" data-toggle="collapse" class=""> <span class="icon"><i class="icon-list"></i></span>
                            <h5>Busca Avançada</h5>
                        </a>
                    </div>
                </div>
                <div class="accordion-body <?php if($filtro){echo 'in';}else{echo '';} ?> collapse" id="collapseGOne" style="height: auto;">
                    <div class="widget-content">

                        <!--AQUI VAI ADIÇÃO FILTROS DE BUSCA -->


                        <div class="row">
                            <form action="" method="get">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Secretaria</label>
                                        <select class="form-control      select2" id="id_secretaria" name="cid_secretaria" onchange="busca_setor($(this).val())" style="width: 100%;">
                                    <option ></option>
                                    <?php if ($secretaria) {
                                        foreach ($secretaria as $secretarias) { ?>
                                    <option value="<?php echo $secretarias->id_secretaria; ?>" ><?php echo $secretarias->nm_secretaria; ?></option>
                                    <?php 
                                }
                            } ?>
                                     </select>

                                    </div>

                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Setor</label>
                                        <select class="form-control      select2" id="id_setor" name="id_setor" style="width: 100%;">
                                
                               
                                </select>

                                    </div>

                                </div>


                                <!--aquiv vai mais um o nome p/ busca -->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Funcionário</label>
                                        <input type="text" class="form-control           select2" id="os_busca_nome" name="busca_nome" style="width: 100%;">
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label><br> </label>
                                        <input type="submit" class="form-control           select2 btn  <?php if ($filtro) {
                                                                            echo 'btn bg-navy';
                                                                        } else {
                                                                            echo 'btn bg-navy';
                                                                        } ?>" id="os_busca_nome" name="buscar" value="<?php if ($filtro) {  echo 'Desativar Filtro'; } else {
                                                                                                                                                                                        echo 'Ativar Filtro';
                                                                                                                                                                                    } ?>" style="width: 100%;">
                                    </div>
                                </div>



                            </form>
                        </div>

                        <!--FINAL FILTROS DE BUSCA -->

                    </div>
                </div>
            </div>
            <!---- --->







            <!-- inicio tabela -->
            <div class="widget-box">
                <div class="widget-title"> <span class="icon"> <i class="fa fa-user"></i> </span>
                    <h5>Funcionários cadastrados</h5>
                </div>
                <div class="widget-content nopadding">
                    <table class="table table-bordered " id="tb_funcionario">

                        <thead>
                            <tr style="backgroud-color: #2D335B">
                                <th>#id</th>
                                <th>Funcionário</th>
                                <th>Resp</th>
                                <th>Cargo</th>
                                <th>Secretaria</th>
                                <th>Setor</th>
                                <th>Ramal/Telefone</th>

                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <?php if ($funcionario) {
                                        foreach ($funcionario as $funcionarios) { ?>
                                <?php if ($funcionarios->id_funcionario <> '1') { ?>
                                <td>
                                    <?php echo $funcionarios->id_funcionario; ?>
                                </td>
                                <td>
                                    <?php echo $funcionarios->nm_funcionario; ?>
                                </td>
                                <td>
                                    <?php echo $funcionarios->n_resp; ?>
                                </td>
                                <td>
                                    <?php echo $funcionarios->nm_cargo; ?>
                                </td>
                                <td>
                                    <?php echo $funcionarios->nm_secretaria; ?>
                                </td>
                                <td>
                                    <?php echo $funcionarios->nm_setor; ?>
                                </td>
                                <td>
                                    <?php echo $funcionarios->n_ramal; ?>
                                </td>
                                <td>
                                    <div class="btn-group-horiontal">
                                        <a data-toggle="modal" data-target="#ver_<?php echo $funcionarios->id_funcionario; ?>" title="visualizar" class="btn btn-flat btn-default"><i class="fa fa-eye"></i></a>
                                        <a href="<?php echo base_url(); ?>index.php/os/open/<?php echo encript($funcionarios->id_funcionario); ?>" title="Abrir Chamado" class="btn btn-primary"><i class="ion ion-ios-pricetag-outline"></i> Abrir Chamado</a>

                                    </div>
                                </td>
                            </tr>
                            <?php } else { ?>
                            <!--    <td colspan="8">
                                            <center>Nenhum funcionário cadastrado</center>
                                            </td>
                                            </tr>-->

                            <?php } ?>
                            <?php
                                }
                            } else { ?>

                                <td colspan="8">
                                    <center>Nenhum funcionário cadastrado</center>
                                </td>
                                </tr>
                                <?php
                            } ?>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="9" style="align:right">
                                    <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                                        <ul class="pagination">
                                            <?php if (isset($pag) && !empty($pag)) {
                                                    foreach ($pag as $key => $value) {
                                                        echo " {$value} ";
                                                    }
                                                }; ?>
                                        </ul>
                                    </div>
                                </td>
                            </tr>

                        </tfoot>
                    </table>



                    <!-- fim tabela -->

                    <!-- /.box-body -->

                    <!-- /.box-footer-->














    </section>






    <!--modal nova marca -->
    </div>

    <!-- Modal-->




    <?php
if ($funcionario) {
    foreach ($funcionario as $funcionarios) {
        ?>
        <div class="modal fade" id="ver_<?php echo $funcionarios->id_funcionario; ?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-bold text-info" id="myModalLabel">ERPOS </h4>

                    </div>
                    <div class="modal-body">

                        <div class="text-info"> <b>Id:</b>
                            <?php echo $funcionarios->id_funcionario; ?><br>
                            <b>Funcionário: </b>
                            <?php echo $funcionarios->nm_funcionario; ?>
                            <br>
                            <b>Nº Resp: </b>
                            <?php echo $funcionarios->n_resp; ?>
                            <br>
                            <b>E-mail: </b>
                            <?php echo $funcionarios->mail_funcionario; ?>
                            <br>
                            <b>Cargo: </b>
                            <?php echo $funcionarios->nm_cargo; ?>
                            <br>
                            <b>Nome de Usuário do Sistema: </b>
                            <?php echo $funcionarios->nm_usuario; ?>
                            <br>
                            <b>Secretaria: </b>
                            <?php echo $funcionarios->nm_secretaria; ?>
                            <br>
                            <b>Setor: </b>
                            <?php echo $funcionarios->nm_setor; ?>
                            <br>
                            <b>Local: </b>
                            <?php echo $funcionarios->nm_local; ?>
                            <br>
                            <b>Obs local de trabalho: </b>
                            <?php echo $funcionarios->obs_local; ?>
                            <br>
                            <b>Responsável do Setor: </b>
                            <?php echo $funcionarios->nm_responsavel; ?>
                            <br>
                            <b>Nº Ramal/Telefone: </b>
                            <?php echo $funcionarios->n_ramal; ?>
                            <br>
                            <b>Status: </b>
                            <?php if ($funcionarios->ativo) {
                                                echo 'ativo';
                                            } else {
                                                echo 'inativo';
                                            } ?>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default align-right" data-dismiss="modal"><i class="fa fa-close"></i> Fechar</button>

                    </div>
                </div>
            </div>
        </div>

        <?php

}
}
?>