<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Chamados
      <small> Atender chamado</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Dasboard</a></li>
      <li class="active"><a href="<?php echo base_url(); ?>index.php/os"> OS</a></li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content container-fluid">

    <!----Pagina novo os------>
    <?php
    get_msg('salvo');
    ?>



    <div class="span12">
      <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-tags"></i> </span>
          <h5>Modificar Chamado</h5>
        </div>
        <!-- here begin according -->
        <div class="widget-content tab-content">
        <div id="tab1" class="tab-pane active" style="min-height: 300px">

          <div class="accordion" id="collapse-group">
            <div class="accordion-group widget-box">
              <div class="accordion-heading">
                <div class="widget-title">
                  <a data-parent="#collapse-group" href="#collapseGOne" data-toggle="collapse">
                    <span class="icon"><i class="icon-list"></i></span>
                    <h5>Dados do Chamado</h5>
                  </a>
                </div>
              </div>
              <div class="collapse  accordion-body" id="collapseGOne">

                <form action="<?php echo base_url(); ?>index.php/os/save" method="post" id="formOs">

                  <div class="col-lg-12" style="padding: 1%">
                    <div class="col-lg-1"> <label for="dataInicial">Nº<span class="required">*</span></label>
                      <input id="id_os" class="col-lg-3  form-control      " disabled="true" value="<?php echo $os[0]->id_os; ?>" type="text" name="id_os" />
                      <input id="id_os" class="col-lg-3  form-control      " disabled="true" value="<?php echo $os[0]->id_os; ?>" type="hidden" name="id_os" />
                    </div>

                    <div class="col-lg-11"> <label for="dataFinal">Título</label>
                      <input id="titulo_os" class="col-lg-2 form-control     " disabled type="text" value="<?php echo $os[0]->titulo_os; ?>" name="titulo_os" />

                    </div>


                    <div class="col-lg-2" style="padding:1%;"> <label for="dataInicial">Data chamado<span class="required"></span></label>
                      <input id="dt_os" class="col-lg-3 datepicker form-control      " disabled="true" value="<?php echo formataVisao($os[0]->dt_os); ?>" type="text" name="dt_os" />
                    </div>
                    <div class="col-lg-2" style="padding:1%;"> <label for="dataFinal">Hora chamado</label>
                      <input id="hr_os" name="hr_os" class="col-lg-2 datepicker form-control     " disabled type="text" value="<?php echo $os[0]->hr_os; ?>" name="hr_os" />
                    </div>


                    <div class="col-lg-3" style="padding:1%;"> <label for="dataFinal">Status</label>
                      <input id="hr_os" name="porra" class="col-lg-2  form-control     " disabled type="text" value="<?php echo $os[0]->st_os; ?>" name="st_os" />
                    </div>
                    <!-- aqui condição para select ou campo de texto caso já tenha usuario fazendo serviço manter text com disebled caso não tenha
   criar combobx listavel com todo os tecnicos -->

                    <?php if ($tecnico[0]->id_tecnico == '1') { ?>
                      <div class="col-lg-4" style="padding:1%;"> <label for="tecnico">Técnico / Responsável<span class="required "></span></label>
                        <select class="form-control      select2" name="id_tecnico" disabled style="width: 100%;">
                          <option selected="selected" value="1">Em Aberto</option>
                          <?php if ($tecnico_tem) {
                            foreach ($tecnico_tem as $tecnicos) { ?>
                              <?php if ($tecnicos->id_tecnico <> '1') { ?>



                                <option value="<?php echo $tecnicos->id_tecnico; ?>"><?php echo $tecnicos->nm_funcionario; ?></option>
                          <?php }
                            }
                          } ?>
                        </select>
                      </div>
                    <?php } else { ?>
                      <div class="col-lg-4" style="padding:1%;"> <label for="tecnico">Técnico / Responsável<span class="required ">*</span></label>
                        <input type="text" disabled value="<?php echo $tecnico[0]->nm_funcionario; ?>" class=" form-control      select2" name="id_tecnico" style="width: 100%;">


                      </div>
                    <?php } ?>


                    <!--marcação fim combo ou text -->


                    <div class="col-lg-12" style="padding: 1%">

                      <div class="col-lg-2"></br> <label for="dataInicial">Nº RESP<span class="required">*</span></label>
                        <input id="n_resp" class="col-lg-3  form-control      " disabled="true" value="<?php echo $os[0]->n_resp; ?>" type="text" name="n_resp" />
                      </div>



                      <div class="col-lg-4"></br> <label for="cliente">Funcionário<span class="required">*</span></label>
                        <input id="nm_funcionario" class="span12 form-control     " type="text" name="nm_funcionario" disabled value="<?php echo $os[0]->nm_funcionario; ?> " />

                        <input id="cid_funcionario" class="span12 form-control     " type="hidden" name="cid_funcionario" value="<?php echo $os[0]->id_funcionario; ?>" />
                        <input id="dt_encerramento" class="span12 form-control     " type="hidden" name="dt_encerramento" value="<?php echo date('d/m/Y'); ?>" />
                      </div>


                      <div class="col-lg-3"> </br><label for="cliente">Secretaria<span class="required">*</span></label>
                        <input id="nm_secretaria" class="span12 form-control     " type="text" name="nm_secretaria" disabled value="<?php echo $os[0]->nm_secretaria; ?> " />
                      </div>
                      <div class="col-lg-3"></br> <label for="cliente">Setor<span class="required">*</span></label>
                        <input id="nm_setor" class="span12 form-control     " type="text" name="nm_setor" disabled value="<?php echo $os[0]->nm_setor; ?> " />
                      </div>
                      <div class="col-lg-2"></br> <label for="cliente">Ramal/Telefone<span class="required">*</span></label>
                        <input id="n_ramal" class="span12 form-control     " type="text" name="n_ramal" disabled value="<?php echo $os[0]->n_ramal; ?> " />
                      </div>
                      <div class="col-lg-6"></br> <label for="cliente">Local<span class="required">*</span></label>
                        <input id="nm_local" class="span12 form-control     " type="text" name="nm_local" disabled value="<?php echo $os[0]->nm_local; ?> " />
                      </div>
                      <div class="col-lg-4"></br> <label for="cliente">Observação Local<span class="required">*</span></label>
                        <input id="nm_local" class="span12 form-control     " type="text" name="obs_local" disabled value="<?php echo $os[0]->obs_local; ?> " />
                      </div>


                      <input type="hidden" class="col-lg-4 form-control     " name="never" value="Aberto" id="never">




                      <div class="col-lg-12">
                        </br>
                      </div>



                      <div class="col-lg-6">
                        <label for="descricaoProduto">Problema </label>
                        <textarea class="col-lg-12 form-control      " disabled name="df_os" id="df_os" cols="30" rows="5"><?php echo $os[0]->df_os; ?></textarea>
                      </div>
                      <div class="col-lg-6"> <label for="defeito">Observações </label>
                        <textarea class="col-lg-12 form-control      " disabled name="ob_os" id="ob_os" cols="30" rows="5"><?php echo $os[0]->ob_os; ?></textarea>
                      </div>

                    </div>


                    </br>




                </form>

              </div>
            </div>
            <div class="accordion-group widget-box">
              <div class="accordion-heading">
                <div class="widget-title">
                  <a data-parent="#collapse-group" href="#collapseGTwo" data-toggle="collapse">
                    <span class="icon"><i class="icon-list"></i></span>
                    <h5>Atualizar Chamado</h5>
                  </a>
                </div>
              </div>
              <div class="collapse  in accordion-body" id="collapseGTwo">
                <form action="<?php echo base_url(); ?>index.php/os/save" method="post" id="formOs">

                  <div class="col-lg-12">
                    <div class="col-lg-3"> </br><label for="cliente">Status<span class="required">*</span></label>
                      <select id="st_os" name="st_os" class="form-control     ">
                        <option value="<?php echo $os[0]->st_os; ?>"><?php echo $os[0]->st_os; ?></option>
                        <option value="Resolvendo">Resolvendo</option>
                        <option value="Parado">Parado</option>
                        <option value="Cancelado">Cancelado</option>
                        <option value="Fechado">Finalizar</option>
                      </select>

                    </div>
                    <div class="col-lg-2"></br> <label for="cliente">Data Atendimento<span class="required">*</span></label>
                      <input id="dt_atendimento" class="span12 form-control     " type="text" name="dt_atendimento" disabled value="<?php if ($os[0]->dt_atendimento) {
                                                                                                                                      echo formataVisao($os[0]->dt_atendimento);
                                                                                                                                    } else {
                                                                                                                                      echo date('d/m/Y');
                                                                                                                                    } ?> " />
                      <input id="dt_atendimento" class="span12 form-control     " type="hidden" name="dt_atendimento" value="<?php if ($os[0]->dt_atendimento) {
                                                                                                                                echo formataVisao($os[0]->dt_atendimento);
                                                                                                                              } else {
                                                                                                                                echo date('d/m/Y');
                                                                                                                              } ?> " />
                    </div>
                    <div class="col-lg-2"></br> <label for="cliente">Hora Atendimento<span class="required">*</span></label>
                      <input id="hr_atendimento" class="span12 form-control     " type="text" name="hr_atendimento" disabled value="<?php if ($os[0]->hr_atendimento) {
                                                                                                                                      echo $os[0]->hr_atendimento;
                                                                                                                                    } else {
                                                                                                                                      echo date("H:i:s");
                                                                                                                                    } ?>" />
                      <input id="hr_atendimento" class="span12 form-control     " type="hidden" name="hr_atendimento" disabled value="<?php if ($os[0]->hr_atendimento) {
                                                                                                                                        echo $os[0]->hr_atendimento;
                                                                                                                                      } else {
                                                                                                                                        echo date("H:i:s");
                                                                                                                                      } ?>" />
                    </div>

                    <?php if ($tecnico[0]->id_tecnico == '1') { ?>
                      <div class="col-lg-3"></br> <label for="tecnico">Técnico / Responsável<span class="required ">*</span></label>
                        <select class="form-control      select2" name="id_tecnico" style="width: 100%;">
                          <option selected="selected" value="null">Em Aberto</option>

                        </select>
                      </div>
                    <?php } else { ?>
                      <div class="col-lg-4"><br> <label for="tecnico">Técnico / Responsável<span class="required ">*</span></label>
                        <input type="text" disabled value="<?php echo $tecnico[0]->nm_funcionario; ?>" class=" form-control      select2" name="id_tecnico" style="width: 100%;">


                      </div>
                    <?php } ?>
                    <!--Tecnico responsavel 
  <div class="col-lg-5"></br> <label for="cliente">Técnico Responsavél<span class="required">*</span></label>
    <input id="nda" class="span12 form-control     " type="text" name="nada" disabled value="<?php echo $tecnico[0]->nm_funcionario; ?> " />
    <input id="id_tecnico" class="span12 form-control     " type="hidden" name="id_tecnico" disabled value="<?php echo $os[0]->id_tecnico; ?> " />
  </div>
   fim -->
                    <div class="col-lg-12"></br> <label for="cliente">Solução chamado<span class="required">*</span></label>
                      <textarea class="col-lg-12 form-control      " name="ld_tecnico" id="ld_tecnico" cols="30" rows="5"><?php echo $os[0]->ld_tecnico; ?></textarea>
                    </div>
                  </div>

                  <div class="text-right">
                    <a data-toggle="modal" data-target="#modal-logar_<?php echo $os[0]->id_os; ?>" style="margin: 10px;" class="btn btn-success "><i class="fa fa-check"></i> Atualizar</a>

                  </div>
                </form>
              </div>
            </div>

          </div>

        </div>
        </div>                
      </div>              
        </div>
                    </div>
        <!--AQUI VAI ADIÇÃO FILTROS DE BUSCA -->


      </div>


    </div>








  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!--MODAL LOGIN PARA ALTERAR OS -->


<div class="modal fade" id="modal-logar_<?php echo $os[0]->id_os; ?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-bold text-info" id="myModalLabel">ERPOS </h4>

      </div>
      <div class="modal-body">

        <div class="text-bold ">
          Por favor digite sua senha de Usuário.

          <input id="user" class="span12 form-control     " type="text" name="user" <?php if ($tecnico[0]->id_tecnico == '1') {
                                                                                      echo ' value="">';
                                                                                    } else {
                                                                                      echo 'value="' . $os[0]->usuario . '" disabled >';
                                                                                    } ?> </br> </br> <label for="cliente">Senha<span class="required">*</span></label>
          <input id="senha" class="span12 form-control     " type="password" name="senha" />


          <br>

          <div id="erro">
          </div>

        </div>

        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
          <script language="javascript">
            var id1 = "<?php echo $os[0]->id_os; ?>";
          </script>
          <input type="submit" class="btn btn-danger" onclick="logar()" value="logar">

        </div>
      </div>
    </div>
  </div>
</div>







<!-- FIM MODAL -->