<!--Atualiza a pagina a cada 3 minutos -->
<script>
setTimeout(function() {
  window.location.reload(1);
}, 180000); // 3 minutos
</script>    

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header" style="background-color:#eeeeee">
        <h1>
            Chamados
            <small>Gerenciar Chamados</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Dasboard</a></li>
            <li class="active">os</li>
        </ol>
    </section>
    <hr>
    <!-- Main content -->
    <section class="content container-fluid" style="background-color:#eeeeee">
        <?php
        get_msg('salvo');
        ?>



        <div class="row">
            <div class="col-xs-12">

                <div class="box-header">
                    <a style="border-radius: 5px;" href="<?php echo base_url(); ?>index.php/os/novo" class="btn  btn-info "><i class="fa fa-plus-square"></i> Adicionar Chamado </a>

                </div>

                <div class="accordion-group widget-box">
                    <div class="accordion-heading">
                        <div class="widget-title "> <a data-parent="#collapse-group" href="#collapseGOne" data-toggle="collapse"> <span class="icon text-right"><i class="icon-list"></i></span>
                                <h5>Busca Avançada</h5>
                            </a> </div>
                    </div>
                    <div class="accordion-body <?php if($filtro){echo 'in';}else{echo '';} ?>  collapse" id="collapseGOne" style="height: auto;">
                        <div class="widget-content">
                            <div class="box-body">

                                <div class="row">
                                    <form action="" method="get">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Secretaria</label>
                                                <select class="form-control select2" id="os_id_secretaria" name="id_secretaria" onchange="os_busca_setor($(this).val())" style="width: 100%;">
                                                    <option></option>
                                                    <?php if ($this->session->userdata('secretaria')) {
                                                        echo $this->session->userdata('secretaria');
                                                        foreach ($this->session->userdata('secretaria') as $secretarias) { ?>
                                                            <option value="<?php echo $secretarias->id_secretaria; ?>"><?php echo $secretarias->nm_secretaria; ?></option>

                                                        <?php  }
                                                } ?>

                                                    } ?>
                                                    <?php if ($secretaria) {
                                                        foreach ($secretaria as $secretarias) { ?>
                                                            <option value="<?php echo $secretarias->id_secretaria; ?>"><?php echo $secretarias->nm_secretaria; ?></option>
                                                        <?php
                                                    }
                                                } ?>
                                                </select>

                                            </div>

                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Setor</label>
                                                <select class="form-control select2" id="os_id_setor" name="id_setor" style="width: 100%;">
                                                    <option></option>

                                                </select>

                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Status</label>
                                                <select class="form-control select2" id="st_os" name="st_os" style="width: 100%;">
                                                    <option></option>
                                                    <option value="Aberto">Aberto</option>
                                                    <option value="Resolvendo">Resolvendo</option>
                                                    <option value="Parado">Parado</option>
                                                    <option value="Cancelado">Cancelado</option>
                                                    <option class="text-green" value="Fechado">Fechado</option>
                                                </select>

                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Data Inicial</label>
                                                <input name="data1" id="data1" placeholder="Data Inicial" class="form-control date datepicker hasDatepicker" value="" type="text">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Data Final</label>
                                                <input name="data2" id="data2" placeholder="Data Final" class="form-control date datepicker hasDatepicker" value="" type="text">
                                            </div>
                                        </div>
                                        <!--aquiv vai mais um o nome p/ busca -->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Funcionário</label>
                                                <input type="text" class="form-control select2" id="os_busca_nome" name="busca_nome" style="width: 100%;">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Técnico</label>
                                                <select class="form-control select2" id="st_os" name="cid_tecnico" style="width: 100%;">
                                                    <option></option>
                                                    <?php
                                                    foreach ($tecnico as $tecnicos) { ?>
                                                        <?php if ($tecnicos->id_tecnico <> '1') { ?>
                                                            <option value="<?php echo $tecnicos->id_tecnico; ?>"><?php echo $tecnicos->nm_funcionario; ?></option>
                                                        <?php } ?>
                                                    <?php  } ?>


                                                </select>

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label><br> </label>
                                                <input style="border-radius: 5px;" type="submit" class="form-control select2 btn  btn-flat <?php if ($filtro) {
                                                                                                                    echo 'btn bg-purple';
                                                                                                                } else {
                                                                                                                    echo 'btn btn-primary';
                                                                                                                } ?>" id="os_busca_nome" name="buscar" value="<?php if ($filtro) {
                                                                                                                                                                                                                                        echo 'Desativar Filtro';
                                                                                                                                                                                                                                    } else {
                                                                                                                                                                                                                                        echo 'Ativar Filtro';
                                                                                                                                                                                                                                    } ?>" style="width: 100%;">
                                            </div>
                                        </div>



                                    </form>


                                    <!--FINAL FILTROS DE BUSCA -->



                                </div>
                            </div>
                            <!-- /.box-body -->



                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!--FINAL BOX -->

                <!-- /.box-header -->
                <div class="widget-box">
                    <div class="widget-title os-titulo"> <span class="icon"> <i class="icon-tags"></i> </span>
                        <h5>Ordens de Serviço</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered table-responsive table-condensed table-ordem table-hover" id="os_tabela_busca">

                            <thead>
                                <tr style="backgroud-color: #2D335B">
                                    <th>#OS</th>
                                    <th>Data</th>
                                    <th>Hora</th>
                                    <th>Título</th>
                                    <th>Secretaria</th>
                                    <th>Setor</th>
                                    <th>Funcionário</th>
                                    <th>Status</th>
                                    <th>Ramal/Tel.</th>

                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <?php if ($os) {
                                        foreach ($os as $oss) { ?>
                                            <td><?php echo $oss->id_os; ?></td>
                                            <td><?php echo formataVisao($oss->dt_os); ?></td>
                                            <td><?php echo $oss->hr_os; ?></td>
                                            <td><?php echo $oss->titulo_os; ?></td>
                                            <td><?php echo $oss->nm_secretaria; ?></td>
                                            <td><?php echo $oss->nm_setor; ?></td>
                                            <td><?php echo $oss->nm_funcionario; ?></td>
                                            <td class="text-white text-center"><?php if ($oss->st_os == 'Aberto') echo '<div class="badge info" style="background-color: #8A9B0F; border-color: #8A9B0F">' . $oss->st_os . '</div>';
                                                                                if ($oss->st_os == 'Resolvendo') {
                                                                                    echo '<div class="badge badge-info"  >' . $oss->st_os . '</div>';
                                                                                }
                                                                                if ($oss->st_os == 'Cancelado') {
                                                                                    echo '<div class="badge" style="background-color: #d81b60; border-color: #E97F02" >' . $oss->st_os . '</div>';
                                                                                }
                                                                                if ($oss->st_os == 'Fechado') {
                                                                                    echo '<div class="badge " style="background-color: green; border-color: #E97F02"> Finalizado </div>';
                                                                                }
                                                                                if ($oss->st_os == 'Parado') {
                                                                                    echo '<div class="badge" style="background-color: #CDB380; border-color: #CDB380" >' . $oss->st_os . '</div>';
                                                                                } ?></td>
                                            <td><?php echo $oss->n_ramal; ?></td>
                                            <td>
                                                <div class="btn-group-horiontal">
                                                    <a href="<?php echo base_url();?>index.php/os/detalhe/<?php echo encript($oss->id_os);?>" title="visualizar" class="btn btn-xs btn-flat btn-info "><i class="fa fa-eye"></i></a>
                                                    <?php if ($oss->st_os <> 'Fechado') { ?>
                                                        <a href="<?php echo base_url(); ?>index.php/os/answer/<?php echo encript($oss->id_os); ?>" class="btn btn-flatbtn btn-info btn-xs  " title="Atender chamado"><i class="fa fa-phone"></i></a>
                                                    <?php  } else { ?>
                                                        <a title="Fechado" class="btn btn-xs btn-flat btn-default"><i class="fa fa-lock"></i></a>
                                                    <?php } ?>
                                                    <a href="<?php echo base_url();?>index.php/os/imprime-chamado/<?php echo encript($oss->id_os); ?>" title="Imprimir" class="btn btn-flat btn-xs btn-info"><i class="fa fa-print"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    <?php }
                            } else { ?>

                                    <td colspan="10">
                                        <center>Nenhum Chamado cadastrado</center>
                                    </td>
                                    </tr>
                                <?php } ?>

                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="10" style="align:right">
                                        <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                                            <ul class="pagination">
                                                <?php if (isset($pag) && !empty($pag)) {
                                                    foreach ($pag as $key => $value) {
                                                        echo " {$value} ";
                                                    }
                                                }; ?>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>

                            </tfoot>
                        </table>

                        <!-- /.box-body -->
                        <div class="box-footer">

                        </div>
                        <!-- /.box-footer-->
                    </div>
                    <!-- /.box-body -->

                    <!-- /.box -->

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->


    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->








<!--modal visualizar detalhes -->


<!-- Button trigger modal -->


<!-- Modal-->
<?php
if ($os) {
    foreach ($os as $oss) {
        ?>
        <div class="modal fade" id="ver_<?php echo $oss->id_os; ?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-bold text-info" id="myModalLabel">ERPOS </h4>

                    </div>
                    <div class="modal-body">

                        <div class="text-blue"> <b>Nº Chamado:</b> <?php echo $oss->id_os; ?><br>

                            <b>Status: </b><?php echo $oss->st_os; ?> </b>
                            <br>
                            <b>Data chamado: </b><?php echo formataVisao($oss->dt_os); ?> <b>Horário: </b><?php echo $oss->hr_os; ?>
                            <br>
                            <b>Funcionário: </b><?php echo $oss->nm_funcionario; ?>
                            <br>
                            <b>Nº Resp: </b><?php echo $oss->n_resp; ?>
                            <br>
                            <b>Nº Ramal/Telefone: </b><?php echo $oss->n_ramal; ?>
                            <br>
                            <b>Secretaria: </b><?php echo $oss->nm_secretaria; ?>
                            <br>
                            <b>Setor: </b><?php echo $oss->nm_setor; ?>
                            <br>
                            <b>Local: </b><?php echo $oss->nm_local; ?>
                            <br>
                            <b>Problema: </b><textarea class="col-lg-12 form-control text-blue " disabled="true" name="ob_os" id="ob_os" cols="30" rows="5"><?php echo $oss->df_os; ?></textarea>
                            <br>
                            <b>Observação: </b><textarea class="col-lg-12 form-control text-blue" disabled="true" name="ob_os" id="ob_os" cols="30" rows="5"><?php echo $oss->ob_os; ?></textarea>
                            <br>
                            </br>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default align-right" data-dismiss="modal"><i class="fa fa-close"></i> Fechar</button>

                    </div>
                </div>
            </div>
        </div>

    <?php
}
}
?>



<?php
if ($os) {
    foreach ($os as $oss) {
        ?>
        <form action="<?php echo base_url() ?>index.php/os/delete/<?php echo encript($oss->id_os); ?>/<?php echo encript($oss->id_local); ?>" method="get">
            <div class="modal fade" id="modal-logar_<?php echo $oss->id_os; ?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title text-bold text-info" id="myModalLabel">ERPOS </h4>

                        </div>
                        <div class="modal-body">

                            <div class="text-bold ">
                                <h4>
                                    <center> Para atender esse chamado é preciso entrar com usuário e senha</center>
                                </h4>

                                <br>

                                <div class="control-group">
                                    <input id="email" name="email" type="text" class="form-control" placeholder="Email" />
                                </div>
                                </br>

                                <div class="control-group">
                                    <div class="controls">
                                        <input name="senha" type="password" class="form-control" placeholder="Senha" /> </div>

                                </div>
                                <div class="form-actions" style="text-align: center">
                                    <div id="progress-acessar" class='hide progress progress-info progress-striped active'>
                                        <div class='bar' style='width: 100%'></div>
                                    </div> <button id="btn-acessar" class="btn btn-success btn-large" /> Acessar</button>
                                </div>
                            </div>


                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                            <input type="submit" class="btn btn-danger" value="Excluir">

                        </div>
                    </div>
                </div>
            </div>
        </form>
    <?php
}
}
?>