   
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Funcionário
            <small>Adicionar funcionário</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="<?php echo base_url(); ?>"><i class="fa fa-dashboard"></i> Dasboard</a></li>
            <li class="active"><?php if ($this->uri->segment(1) != null) { ?><a href="<?php echo base_url() . 'index.php/' . $this->uri->segment(1) ?>" class="tip-bottom" title="<?php echo ucfirst($this->uri->segment(1)); ?>"> <?php echo ucfirst($this->uri->segment(1)); ?></a><?php 
                                                                                                                                                                                                                                                                                }; ?>  </li>
        </ol>
    </section>


    <section class="content">
    <?php
    get_msg('salvo');
    ?>
        <!-- Default box -->
        <div class="">
            <div class="">

            <div class="accordion-group widget-box">
                    <div class="accordion-heading">
                        <div class="widget-title "> <span class="icon text-right"><i class="icon-list"></i></span>
                                <h5>Novo Funcionário</h5>
                            </a> </div>
                    </div>
                    <div class="accordion-body in collapse" id="collapseGOne" style="height: auto;">
                        <div class="widget-content">
                        <div class="box-body">
               
            </div>
            <div class="box-body">
                <!--aqui vem a tabela que vai vir do banco de dados -->

                <div class="row">
                    <!-- left column -->
                    <div class="col-lg-12">

                        <!-- /.box-header -->
                        <!-- form start -->
                        <form role="form" method="post" id="form_funcionario"    action="<?php echo base_url() . 'index.php/funcionario/save'; ?>">
                            <div class="box-body">
                                <div  class="form-group">
                                    <label for="exampleInputEmail1">Nome</label>

                                    <input type="text" class="form-control     " id="nome"  name="nome"    value="<?php echo set_value('nome'); ?>" >
                                    <span id="nm_funcionario-erro" class="text-danger  " style="display:none">Este Funcionário já esta cadatrado.</span>
                                   
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email</label>

                                    <input type="email" required class="form-control     " id="mail_funcionario" onchange="verificaEmailExiste()" name="mail_funcionario" value="<?php echo set_value('mail_funcionario'); ?>" >
                                    <?php echo form_error('mail_funcionario', '<div class="text-danger">', '</div>'); ?>
                                    
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Nº resp</label>

                                    <input type="text" class="form-control     " id="n_resp" name="n_resp" onchange="verificaNumeroResp()" value="<?php echo set_value('n_resp'); ?>" >
                                    <?php echo form_error('n_resp', '<div class="text-danger">', '</div>'); ?>
                                    
                                </div>
                                <div class="form-group">
                                    <label>Cargo</label>
                                     <select class="form-control      select2" id="cid_cargo" name="cid_cargo" style="width: 100%;">
                                     <option></option>
                                     <?php if ($cargo) {
                                        foreach ($cargo as $cargos) { ?>
                                       <option value="<?php echo $cargos->id_cargo; ?>" ><?php echo $cargos->nm_cargo; ?></option>
                                       <?php 
                                    }
                                } ?>
                                       </select>
                                       
                                </div>      
                                <div class="form-group">
                                    <label>Secretaria</label>
                                    <select class="form-control      select2" id="id_secretaria" name="cid_secretaria" onchange="busca_setor($(this).val())" style="width: 100%;">
                                    <option ></option>
                                    <?php if ($secretaria) {
                                        foreach ($secretaria as $secretarias) { ?>
                                    <option value="<?php echo $secretarias->id_secretaria; ?>" ><?php echo $secretarias->nm_secretaria; ?></option>
                                    <?php 
                                }
                            } ?>
                                     </select>
                                        
                              </div>   
                            <div class="form-group">
                                <label>Setor</label>
                                <select class="form-control      select2" id="id_setor" name="id_setor"  style="width: 100%;">
                                
                               
                                </select>
                                        
                            </div>   
                            <div class="form-group">
                                    <label for="exampleInputEmail1">Local</label>

                                    <input type="text" class="form-control     " id="nm_local" name="nm_local" value="<?php echo set_value('nm_local'); ?>" >
                                    <?php echo form_error('nm_local', '<div class="text-danger">', '</div>'); ?>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Nº Ramal ou Telefone</label>

                                    <input type="text" class="form-control     " id="n_ramal" name="n_ramal" value="<?php echo set_value('n_ramal'); ?>" >
                                    <?php echo form_error('nm_local', '<div class="text-danger">', '</div>'); ?>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Obs. sobre local de trabalho</label>

                                    <input type="text" class="form-control     " id="obs_local" name="obs_local" value="<?php echo set_value('obs_local'); ?>" >
                                    <?php echo form_error('obs_local', '<div class="text-danger">', '</div>'); ?>
                                </div>
                              <hr>
                              <label class="text-capitalize text-success">Dados para o Painel de usuário </label>
                                <!-- /.box-body -->
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Usuário</label>

                                    <input type="text" class="form-control     "  onchange="verificaUsuario()" id="nm_usuario" name="nm_usuario" value="<?php echo set_value('nm_usuario'); ?>" >
                                    <?php echo form_error('obs_local', '<div class="text-danger">', '</div>'); ?>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Senha</label>

                                    <input type="password" class="form-control     " id="senha" name="senha" value="<?php echo set_value('senha'); ?>" >
                                    <?php echo form_error('obs_local', '<div class="text-danger">', '</div>'); ?>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Repita senha</label>

                                    <input type="password" class="form-control     "  id="confirma_senha" name="confirma_senha" value="<?php echo set_value('senha'); ?>" >
                                    <?php echo form_error('obs_local', '<div class="text-danger">', '</div>'); ?>
                                </div>
                                <div class="box-footer text-right">
                                    <button type="submit" id="botao" onsubmit="verificaUnicidade()" class="btn btn-primary "><i class="fa fa-check"></i> Adicionar</button>
                                </div>
                            </div>      
                        </form>
                    </div>

                </div>
               
                
                </section>



                        </div>
                        
            

            <!-- /.content-wrapper -->
        



            <!--modal nova marca -->

<script>
     function verificaUnicidade(){
      var nm_usuario=$('#nm_usuario').val();
      var mail_funcionario=$('#mail_funcionario').val()
      var nm_funcionario=$('#nome').val();
     
      
			$.post(base_url+"index.php/funcionario/verificaUnicidade", {
        nm_usuario:nm_usuario,
        nm_funcionario:nm_funcionario,
        mail_funcionario:mail_funcionario        
        
			}, function(data){
                 var retorno=data;
                
                 if(retorno==1){
                    $('#modal-danger').hide()
                   
                 }
                 if(retorno==0){
                    $('#botao').attr('disabled','true'); 
                    $('.modal-body').html('<p>Esse Usuário já está cadastrado!</p><p>Por segurança o botão salvar foi desativado,recomece o processo de cadastro verificando os dados.</p>');
                    $('#modal-danger').modal();
                       
                   
                 }
			});
		}
        function verificaEmailExiste(){
      
      var mail_funcionario=$('#mail_funcionario').val()
      
     
      
			$.post(base_url+"index.php/funcionario/verificaEmailExiste", {
     
        mail_funcionario:mail_funcionario        
        
			}, function(data){
                 var retorno=data;
                
                 if(retorno==1){
                    $('#modal-danger').hide()
                   
                 }
                 if(retorno==0){
                    $('#mail_funcionario').val(''); 
                    $('#mail_funcionario').focus();
                    $('.modal-body').html('<p>O e-mail:<strong> '+mail_funcionario+'</strong> já está em uso.</p><p>Entre com um novo endereço de e-mail</p>');
                    $('#modal-danger').modal();
                       
                   
                 }
			});
		}
        function verificaNumeroResp(){
      
      var n_resp=$('#n_resp').val()
      
     
      
			$.post(base_url+"index.php/funcionario/verificaNumeroResp", {
     
           n_resp:n_resp        
        
			}, function(data){
                 var retorno=data;
                
                 if(retorno==1){
                    $('#modal-danger').hide()
                   
                 }
                 if(retorno==0){
                    $('#n_resp').val(''); 
                    $('#n_resp').focus();
                    $('.modal-body').html('<p>O Resp :<strong> '+n_resp+'</strong> já está em uso.</p><p>O Número Resp é único a cada funcionário caso não  saiba ou não se lembre, ligue no departamento de RH.</p>');
                    $('#modal-danger').modal();
                       
                   
                 }
			});
		}
        function verificaUsuario(){
      
      var nm_usuario=$('#nm_usuario').val()
      
     
      
			$.post(base_url+"index.php/funcionario/verificaUsuario", {
     
           nm_usuario:nm_usuario      
        
			}, function(data){
                 var retorno=data;
                
                 if(retorno==1){
                    $('#modal-danger').hide()
                   
                 }
                 if(retorno==0){
                    $('#nm_usuario').val(''); 
                    $('#nm_usuario').focus();
                    $('.modal-body').html('<p>O nome de usuário:<strong> '+nm_usuario+'</strong> já está em uso.</p><p>Para usuário sugerimos que adote o padrão Nome+iniciais dos sobrenomes.</p></p>Exemplo: João Alves Lima, resultado: joaoal<p>');
                    $('#modal-danger').modal();
                       
                   
                 }
			});
		}    
</script> 

<!-- treta aqui validar com js 08-05-2019 -->

<!--modal erro caso usuario já esteja cadastrado -->
<div class="modal modal-warning fade" id="modal-danger" style="display: none">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">ERPOS</h4>
              </div>
              <div class="modal-body default">
                <p>O usuário já está cadastrado! por favor verifique.&hellip;</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-right" data-dismiss="modal">Entendi</button>
               
              </div>
            </div>
          </div>  
</div>     
            <!-- /.modal-content -->