
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Funcionário
        <small>Gerenciar Funcionários</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dasboard</a></li>
        <li class="active">Funcionário</li>
      </ol>
    </section>
     <hr>
    <!-- Main content -->
    <section class="content container-fluid">
    <?php
        get_msg('salvo');
        ?>
          <div class="row">
        <div class="col-xs-12">
          <div class="">
            <div class="">
            <div class="align-right"><a href="<?php echo base_url();?>index.php/funcionario/novo" class="btn btn-primary  "><i class="fa fa-plus-circle"></i> Adicionar Funcionário</a>
            </div>
            </div>
            <!--AQUI VAI ADIÇÃO FILTROS DE BUSCA -->  
          
            <div class="accordion-group widget-box">
                    <div class="accordion-heading">
                        <div class="widget-title "> <a data-parent="#collapse-group" href="#collapseGOne" data-toggle="collapse"> <span class="icon text-right"><i class="icon-list"></i></span>
                                <h5>Busca Avançada</h5>
                            </a> </div>
                    </div>
                    <div class="accordion-body <?php if($filtro){echo 'in';}else{echo '';} ?>  collapse" id="collapseGOne" style="height: auto;">
                        <div class="widget-content">
                        <div class="box-body">

            <div class="row">
                <form action="" method="get">
                   <div class="col-md-3">
                   <div class="form-group">
                                    <label>Secretaria</label>
                                    <select class="form-control select2" id="os_id_secretaria" name="id_secretaria" onchange="os_busca_setor($(this).val())" style="width: 100%;">
                                    <option ></option>
                                    <?php if($this->session->userdata('secretaria')){
                                        echo $this->session->userdata('secretaria');
                                        foreach ($this->session->userdata('secretaria') as $secretarias) {?>
                                         <option value="<?php echo $secretarias->id_secretaria; ?>" ><?php echo $secretarias->nm_secretaria; ?></option>
                                           
                                      <?php  }} ?>

                                    } ?>
                                    <?php if ($secretaria) {
                                        foreach ($secretaria as $secretarias) { ?>
                                    <option value="<?php echo $secretarias->id_secretaria; ?>" ><?php echo $secretarias->nm_secretaria; ?></option>
                                    <?php 
                                }
                            } ?>
                                     </select>
                                        
                              </div>   
                              
                  </div>  
                  <div class="col-md-2">
                  <div class="form-group">
                                <label>Setor</label>
                                <select class="form-control select2" id="os_id_setor"  name="id_setor"  style="width: 100%;">
                                <option></option>
                               
                                </select>
                                        
                            </div> 
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                                <label>Cargo</label>
                                <select class="form-control select2" id="st_os"  name="cid_cargo"   style="width: 100%;">
                                <option></option>
                                <?php if ($cargo) {
                                        foreach ($cargo as $cargos) { ?>
                                <option value="<?php echo $cargos->id_cargo; ?>" ><?php echo $cargos->nm_cargo; ?></option>
                                    <?php 
                                }
                            } ?>
                              </select>
                               
                            
                                        
                            </div> 
                </div>
                
                <!--aquiv vai mais um o nome p/ busca -->
                <div class="col-md-3">
                  <div class="form-group">
                                <label>Funcionário</label>
                                <input type="text" class="form-control select2" id="os_busca_nome"  name="busca_nome"  style="width: 100%;">       
                            </div> 
                </div>
               
                <div class="col-md-2">
                  <div class="form-group">
                                <label><br> </label>
                                <input type="submit" class="form-control select2 btn  <?php if($filtro){echo 'btn bg-purple';}else{echo 'btn btn-primary';} ?>" id="os_busca_nome"   name="buscar" value="<?php if($filtro){echo 'Desativar Filtro';}else{echo 'Ativar Filtro';} ?>" style="width: 100%;"> 
                            </div> 
                </div>
                
                
                
                </form>
                   </div>
                        </div>
                        </div>
                    </div>
            </div>
            <!--FINAL FILTROS DE BUSCA -->  
            <!-- /.box-header -->
            <div class="widget-box">
                        <div class="widget-title"> <span class="icon"> <i class="icon-user-md"></i> </span>
                            <h5>Funcionário</h5>
                        </div>
                        <div class="widget-content nopadding">
                            <table class="table table-bordered ">
                                
                                <thead>
                                    <tr  style="backgroud-color: #2D335B ;">
                  <th>#id</th> 
                  <th>Funcionário</th>
                  <th>Resp</th>
                  <th>Cargo</th>
                  <th>Secretaria</th>
                  <th>Setor</th>
                  <th>Ramal/Telefone</th>
                 
                  <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                <?php if($funcionario){ foreach ($funcionario as $funcionarios) { ?>
                 <?php //não mostra o usuario numero 1 pois ele é o adminsitrador do sistema!!!!!
                   if($funcionarios->id_funcionario <>'1'){?>
                  <td><?php echo $funcionarios->id_funcionario;?></td>
                  <td><?php echo $funcionarios->nm_funcionario;?></td>
                  <td><?php echo $funcionarios->n_resp;?></td>
                  <td><?php echo $funcionarios->nm_cargo;?></td>
                  <td><?php echo $funcionarios->nm_secretaria;?></td>
                  <td><?php echo $funcionarios->nm_setor;?></td>
                  <td><?php echo $funcionarios->n_ramal;?></td>
                  <td> <div class="btn-group-horiontal">
                      <a  data-toggle="modal" data-target="#ver_<?php echo $funcionarios->id_funcionario; ?>" title="visualizar" class="btn btn-outline-info btn-info"><i class="fa fa-eye"></i></a>
                      <a href="<?php echo base_url(); ?>index.php/funcionario/edit/<?php echo encript($funcionarios->id_funcionario); ?>"  title="editar" class="btn btn-flat btn-info"><i class="fa fa-edit"></i></a>
                      <a data-toggle="modal" data-target="#modal-excluir_<?php echo $funcionarios->id_funcionario; ?>" title="excluir"  class="btn btn-flat btn-info"><i class="fa fa-trash"></i></a>
                    </div></td>
                </tr>
                <?php }else{?> 
                 <!-- <td colspan="8"><center>Nenhum funcionario cadastrado</center> </td>
                </tr>-->
                <?php } } }else{?>    
                
                <td colspan="8"><center>Nenhum funcionario cadastrado</center> </td>
                </tr>
                <?php } ?>
                </tbody>
                <tfoot>
                    <tr>
                  <td colspan="9" style="align:right">    
                  <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">  
                  <ul class="pagination">
                  <?php if(isset($pag) && (!empty($pag))){foreach ($pag as $key => $value) {
                      echo " {$value} ";
                  }}; ?>
                  </ul>
                  </div>
                  </td>
                    </tr>
                   
                </tfoot>
              </table>
                <!-- /.box-body -->
               

                      
            </div>
            <!-- /.box-body -->
          
          <!-- /.box -->

        
        
        <!-- /.col -->
      
      <!-- /.row -->


    </section>
    <!-- /.content -->
  </div>
                
  <!-- /.content-wrapper -->








<!--modal visualizar detalhes -->


<!-- Button trigger modal -->


<!-- Modal-->
<?php
if ($funcionario) {
    foreach ($funcionario as $funcionarios) {
        ?>
        <div class="modal fade" id="ver_<?php echo $funcionarios->id_funcionario; ?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-bold text-info" id="myModalLabel">ERPOS  </h4>
                        
                    </div>
                    <div class="modal-body">
                   
                        <div class="text-info"> <b>Id:</b> <?php echo $funcionarios->id_funcionario; ?><br>
                            <b>Funcionário: </b><?php echo $funcionarios->nm_funcionario; ?>
                            <br> 
                            <b>Nº Resp: </b><?php echo $funcionarios->n_resp; ?>
                            <br> 
                            <b>E-mail: </b><?php echo $funcionarios->mail_funcionario; ?>
                            <br> 
                            <b>Cargo: </b><?php echo $funcionarios->nm_cargo; ?>
                            <br> 
                            <b>Nome de Usuário do Sistema: </b><?php echo $funcionarios->nm_usuario; ?>
                            <br> 
                            <b>Secretaria: </b><?php echo $funcionarios->nm_secretaria; ?>
                            <br> 
                            <b>Setor: </b><?php echo $funcionarios->nm_setor; ?>
                            <br> 
                            <b>Local: </b><?php echo $funcionarios->nm_local; ?>
                            <br>
                            <b>Obs local de trabalho: </b><?php echo $funcionarios->obs_local; ?>
                            <br> 
                            <b>Responsável do Setor: </b><?php echo $funcionarios->nm_responsavel; ?>
                            <br> 
                            <b>Nº Ramal/Telefone: </b><?php echo $funcionarios->n_ramal; ?>
                            <br> 
                            <b>Status: </b><?php if($funcionarios->ativo){echo 'ativo';}else{echo 'inativo';} ?>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default align-right" data-dismiss="modal"><i class="fa fa-close"></i> Fechar</button>

                    </div>
                </div>
            </div>
        </div>

        <?php
    }
}
?>  



<?php
if ($funcionario) {
    foreach ($funcionario as $funcionarios) {
        ?>
        <form action="<?php echo base_url() ?>index.php/funcionario/delete/<?php echo encript($funcionarios->id_funcionario);?>/<?php echo encript($funcionarios->id_local);?>" method="get" >
        <div class="modal fade" id="modal-excluir_<?php echo $funcionarios->id_funcionario; ?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-bold text-info" id="myModalLabel">ERPOS  </h4>
                        
                    </div>
                    <div class="modal-body">
                   
                        <div class="text-bold ">
                        <h4><center> Deseja realmente apagar esse registro?</center></h4>
         <br> 
                        </div>


                    </div>
                    <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                    <input type="submit" class="btn btn-danger" value="Excluir">

                    </div>
                </div>
            </div>
        </div>
        </form>    
        <?php
    }
}
?>  